.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  background-color: #f0f0f0;
  max-width: 100%; /* Limiting the width */
  max-height: 100%; /* Limiting the height */
  overflow: auto;
}

.calendar {
  margin-top: 20px;
  padding: 20px;
  border: 10px solid #333;
  border-radius: 10px;
  background: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.date-display {
  font-size: 1.5em;
  color: #333;
  font-family: "Arial", sans-serif;
}
